* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--color-bg-main);

    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--color-typo-main);
}