:root {
    --color-bg-main: #ADACAC;
    --color-bg-secondary: #FFFFFF;

    --color-typo-main: #000;
    --color-typo-secondary: #9E9DA2;
    --color-typo-tetriary: #FFF;

    --color-link: #000;

    --color-accent: #75BF7A;
}